html * {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  border: none;
}

html *:focus {
  outline: none;
}

body{
  background: radial-gradient(purple, white);
  margin-top: 80px;
}

img {
  margin-right: 10px;
  border-radius: 5px;
}

#header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  min-width: 1100px;
}

#header-div button {
  font-size: 20px;
}

#header-div button:hover {
  background-color: purple;
}

.instructions-header {
  display: flex;
  align-items: center;
  margin: 1%;
  max-width: 800px;
}


.help-content {
  display: none;
}

.show {
  display: block;
  position: absolute;
  top: 82px;
  right: 19px;
}

#explore-view {
  display: flex;
  justify-content: center;
  min-width: 900px;
}

#show-explore-button {
  display: none;
}

#oracle-view {
  display: none;
  justify-content: center;
  min-width: 800px;
}

#explore-canvas, #oracle-canvas {
  height: 500px;
}

#e-buttons{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  top: 95px;
}

#o-buttons{
  display: none;
  flex-direction: row;
  justify-content:flex-start;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 20px;
}

#question-input {
  border: 2px solid black;
  height: 30px;
  width: 50%;
  text-indent: 2%
}

#question-button {
  color: black;
  text-align: center;
  border: 1px solid black;
  width: 10%;
  margin-left: 1%;
  min-width: 35px;
  font-size: 19px;
}

#question-button:hover {
  color: white;
  background: purple;
}

#o-buttons * {
  border-radius: 10px;
}

#reset-oracle-button, #help-button, #explore-button {
  display: none;
}

#oracle-button {
  margin-right: 5%;
  border: 1px solid black;
  border-radius: 5px;
}

#show-explore-button {
  border: 1px solid black;
  border-radius: 5px;
}

#gua-selector {
  /*display: none;*/
  height: 9%;
  font-size: 30px;
  border: 1px solid black;
}

#gua-detail {
  /*display: none;*/
  border: none;
  resize: none;
  font-size: 20px;
  color: black;
}

footer {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 1%;
}
