html * {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
  border: none;
}

html *:focus {
  outline: none;
}

body{
  margin-top: 80px;
}

#header-div {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  min-width: 1100px;
}

#header-div * {
  margin: 10px;
}

.help-content {
  display: none;
}

.show {
  display: block;
  position: relative;
  bottom: 10px;
  right: 10px;
}

#explore-view {
  display: flex;
  justify-content: center;
  min-width: 500px;
}

#oracle-view {
  display: none;
  justify-content: center;
  min-width: 800px;
}

#explore-canvas, #oracle-canvas {
  height: 500px;
}

#show-explore-div {
  margin: 2%;
}
#e-buttons{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

#o-buttons{
  display: none;
  flex-direction: row;
  justify-content:flex-start;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 20px;
}

#o-buttons * {
  width: 200px;
}

#gua-selector {
  /*display: none;*/
  height: 9%;
  font-size: 30px;
}

#gua-detail, #directions {
  /*display: none;*/
  border: none;
  resize: none;
  font-size: 20px;
}

footer {
  display: none;
}
