#view {
  display: flex;
}

#myCanvas {
  background-color: beige;
  /*width: 500px;*/
  border: 1px solid black;

}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#gua-selector {
  font-size: 40px;
}
